@use '../variables.scss';
@use '../mixins.scss';

.container-confirm {
    .message {
        z-index: 1;
        max-width: 480px;
        @include mixins.flex-column;
        gap: 1.11rem;
        text-align: center;
        border-radius: 2rem;
        margin: 0 1rem;
        padding: 3rem;

        >img {
            height: 5rem;
            border-radius: .5rem;
            margin-top: -.5rem;
            padding: .888rem;
            background-color: variables.getColor(neon-blue);
        }

        >p {
            font-size: 1.5rem;
            color: variables.getColor(text);
        }
    }
}