@use '../variables.scss';
@use '../mixins.scss';

.container-home {
    max-width: 1280px;
    width: 100%;
    min-height: 100vh;
    @include mixins.grid-center;
    align-items: start;
    grid-template-columns: 25% 50% 25%;
    margin: 0 auto;
    padding-top: 88.88px;
    padding-bottom: 2.25rem;

    * .button {
        button {
            box-shadow: none;
            padding: .5rem;

            &.transparent {
                box-shadow: none
            }
        }
    }

    >.container-center {
        @include mixins.flex-column;
        gap: 1.1rem;
    }

    @media screen and (max-width: 1033px) {
        grid-template-columns: 25% 75%;
    }

    @media screen and (max-width: 777px) {
        grid-template-columns: 1fr;
    }
}