@use 'variables.scss';

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin grid-center {
    display: grid;
    align-items: center;
}

@mixin special-hover($cor-hover, $cor-fundo, $cor-sombra) {
    z-index: 1;
    position: relative;
    cursor: default;
    color: variables.getColor($cor-fundo);
    transition: ease-in-out .25s;

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: variables.getColor($cor-fundo);
        box-shadow: variables.getColor($cor-sombra);
        transition: width ease-in-out .25s;
    }

    &:hover {
        color: variables.getColor($cor-hover);

        &:before {
            left: 0;
            width: 100%;
        }
    }
}