@use '../../../variables.scss';
@use '../../../mixins.scss';

.comment {
    width: 100%;
    margin: 0 auto;
    @include mixins.flex-column;
    align-items: start;
    line-height: 2rem;
    word-break: break-word;

    >.top {
        position: relative;
        @include mixins.flex-center;
        gap: 1rem;
        padding: .5rem 1rem;

        >img {
            width: 6.66rem;
        }

        >a {
            >h1 {
                font-size: 1.5rem;
                color: variables.getColor(text);

                &:hover {
                    text-decoration: underline;
                }

                @media screen and (max-width:700px) {
                    padding-bottom: 1rem;
                }
            }
        }

        >p {
            font-size: 1.25rem;
            color: variables.getColor(info-text);

            @media screen and (max-width:561px) {
                position: absolute;
                bottom: 0;
                left: 9rem;
            }
        }
    }

    >.content {
        width: 100%;
        border-radius: .5rem;
        padding: 1rem 1.6rem;

        >p {
            font-size: 1.333rem;
            color: variables.getColor(text);
        }
    }
}