@use '../../variables.scss';
@use '../../mixins.scss';

.button {
    @include mixins.flex-center;
    width: 100%;
    margin-top: 1.333rem;
    padding: 0 3.2em;

    button {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        padding: 1rem 1.6rem;
        border-radius: .5rem;
        background-color: variables.getColor(neon-blue);
        box-shadow: variables.getColor(blur-shadow);

        &.transparent {
            position: relative;
            z-index: 1;
            color: variables.getColor(neon-blue);
            background: transparent;
            border: 2px solid variables.getColor(neon-blue);
            box-shadow: variables.getColor(blur-shadow);
            transition: color ease-in-out .333s;

            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: variables.getColor(neon-blue);
                transition: width ease-in-out .333s;
            }

            &:hover {
                color: white;

                &:before {
                    width: 100%;
                }
            }
        }
    }
}